In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
spark

In [5]:
spark.conf.set("spark.sql.adaptive.enabled", "false")

In [6]:
spark.conf.get("spark.sql.adaptive.enabled")

'false'

In [7]:
# Big Dataframe
df_transactions = spark.createDataFrame([
    (1, "US", 100),
    (2, "IN", 200),
    (3, "UK", 150),
    (4, "US", 80)
], ["id", "country_code","account"])

# Small Datafrae
df_countries = spark.createDataFrame([
    ("US", "United States"),
    ("IN", "India"),
    ("UK", "United Kingdom")
], ["country_code", "country_name"])

In [8]:
df_transactions.show()

+---+------------+-------+
| id|country_code|account|
+---+------------+-------+
|  1|          US|    100|
|  2|          IN|    200|
|  3|          UK|    150|
|  4|          US|     80|
+---+------------+-------+

In [9]:
df_countries.show()

+------------+--------------+
|country_code|  country_name|
+------------+--------------+
|          US| United States|
|          IN|         India|
|          UK|United Kingdom|
+------------+--------------+

In [10]:
df_join = df_transactions.join(df_countries, df_transactions['country_code'] == df_countries['country_code'], "inner")

In [11]:
df_join.show()

+---+------------+-------+------------+--------------+
| id|country_code|account|country_code|  country_name|
+---+------------+-------+------------+--------------+
|  1|          US|    100|          US| United States|
|  4|          US|     80|          US| United States|
|  2|          IN|    200|          IN|         India|
|  3|          UK|    150|          UK|United Kingdom|
+---+------------+-------+------------+--------------+

In [12]:
from pyspark.sql.functions import *

In [15]:
df_join = df_transactions.join(broadcast(df_countries), df_transactions['country_code'] == df_countries['country_code'], "inner")

In [16]:
df_join.show()

+---+------------+-------+------------+--------------+
| id|country_code|account|country_code|  country_name|
+---+------------+-------+------------+--------------+
|  1|          US|    100|          US| United States|
|  2|          IN|    200|          IN|         India|
|  3|          UK|    150|          UK|United Kingdom|
|  4|          US|     80|          US| United States|
+---+------------+-------+------------+--------------+